@charset "UTF-8";
:root {
  --main-bg-color: #ffffff;
  --main-color: #212121;
  --accent-color: #2196f3;
  --white-text: #ffffff;
  --gray-text: #757575;
  --black-color-logo: #000000;
  --button-bgc: #2196f3;
  --filters-bgc: #f5f4fa;
  --ourcomand-bgc: #f5f4fa;
  --hero-bgc: #2f303a;
  --footer-contact-bgc: rgba(255, 255, 255, 0.6);
  --footer-bgc: #2f303a;
  --footer-fone-socicone: rgba(255, 255, 255, 0.1);
  --main-color-socicon: #afb1b8;
  /* текстовые характеристики */
  --bold-weight: 700;
  --normal-weight: 400;
  --link-weight: 500;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0px;
  margin-bottom: 0px;
}

p {
  margin-top: 0px;
  margin-bottom: 0px;
}

ul,
ol {
  margin: 0;
  padding: 0;
}

img {
  display: block;
  width: 100%;
  height: auto;
}

body {
  background-color: var(--main-bg-color);
  color: var(--main-color);
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

.list {
  margin: 0px;
  padding: 0px;
  list-style: none;
}

.container {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
  /* outline: 1px solid red; */
}

@media screen and (min-width: 480px) {
  .container {
    width: 480px;
  }
}

@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}

.line-position::after {
  position: absolute;
  left: 0;
  bottom: 0;
  content: "";
  display: block;
  margin-top: 28px;
  width: 100%;
  height: 4px;
  background: var(--accent-color);
  border-radius: 2px;
}

/* логотип */
.logo {
  text-decoration: none;
  font-family: "Raleway", sans-serif;
  font-weight: var(--bold-weight);
  font-size: 24px;
  line-height: 1.17;
}

.logo--header {
  color: var(--black-color-logo);
}

.logo--footer {
  display: inline-block;
  color: var(--white-text);
  text-align: center;
  margin-bottom: 20px;
}

.logo--blue-part {
  color: var(--accent-color);
}

@media screen and (min-width: 1200px) {
  .logo {
    font-size: 26px;
  }
}

.social-icons__list {
  display: flex;
  justify-content: space-between;
}

.social-icons__link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.social-icons__link:focus, .social-icons__link:hover {
  background-color: var(--accent-color);
}

.social-icons__svg {
  width: 20px;
  height: 20px;
  fill: var(--main-color-socicon);
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.social-icons__link:hover .social-icons__svg,
.social-icons__link:focus .social-icons__svg {
  fill: var(--main-bg-color);
}

.footer__icons {
  fill: var(--white-text);
}

.top {
  display: flex;
}

.current {
  color: var(--accent-color);
}

@media screen and (max-width: 767px) {
  .navigation__list {
    display: none;
  }
  .contact {
    display: none;
  }
  .top {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-height: 60px;
    padding-top: 16px;
    padding-bottom: 16px;
  }
  .navigation__button {
    padding: 12px 8px;
    background-color: transparent;
    border-color: transparent;
    fill: var(--black-color-logo);
    transition-property: fill;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }
  .navigation__button:focus, .navigation__button:hover {
    fill: var(--accent-color);
    cursor: pointer;
    outline: none;
  }
  .navigation__button-svg {
    width: 24px;
    height: 16px;
  }
  .mobile-menu {
    position: fixed;
    width: 100vw;
    height: 100vh;
    overflow-x: scroll;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    transform: scale(0);
    padding: 48px 40px;
    background-color: var(--main-bg-color);
    transition: scale 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .mobile-menu.is-open {
    transform: translateX(-50%) scale(1);
  }
  .mobile-menu__btn {
    position: absolute;
    top: 10px;
    right: 15px;
    border: none;
    background-color: transparent;
    fill: var(--main-color);
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .mobile-menu__btn:hover, .mobile-menu__btn:focus {
    fill: var(--accent-color);
    cursor: pointer;
    outline: none;
  }
  .mobile-menu__btn-svg {
    width: 40px;
    height: 40px;
  }
  .mobile-menu__navigation {
    margin-bottom: 302px;
  }
  .mobile-menu__navigation-items:not(:last-child) {
    margin-bottom: 32px;
  }
  .mobile-menu__navigation-link {
    color: var(--main-color);
    text-decoration: none;
    font-weight: var(--link-weight);
    font-size: 40px;
    line-height: 1.17;
    letter-spacing: 0.02em;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .mobile-menu__navigation-link:focus, .mobile-menu__navigation-link:hover {
    color: var(--accent-color);
    outline: transparent;
    cursor: pointer;
  }
  .mobile-menu__contact-tel {
    color: var(--accent-color);
    text-decoration: none;
    font-size: 34px;
    line-height: 1.17;
    letter-spacing: 0.02em;
  }
  .mobile-menu__contact-mail {
    display: block;
    text-decoration: none;
    color: var(--gray-text);
    font-size: 24px;
    line-height: 1.16;
    letter-spacing: 0.02em;
  }
  .mobile-menu__contact-items:first-child {
    margin-bottom: 32px;
  }
  .mobile-menu__contact-items:last-child {
    margin-bottom: 64px;
  }
  .mobile-menu__soclist {
    display: flex;
    align-items: center;
    width: 357px;
  }
  .mobile-menu__soclist-items {
    display: flex;
    align-items: center;
  }
  .mobile-menu__soclist-items:not(:last-child)::after {
    display: block;
    content: "";
    width: 22px;
    height: 0;
    padding-right: 10px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    transform: rotate(90deg);
  }
  .mobile-menu__soclink {
    text-decoration: none;
    color: var(--accent-color);
    font-size: 18px;
    line-height: 1.22;
    letter-spacing: 0.02em;
  }
}

@media screen and (min-width: 768px) {
  .navigation__button {
    display: none;
  }
  .mobile-menu {
    display: none;
  }
  .top {
    align-items: center;
    max-height: 80px;
    padding-top: 26px;
    padding-bottom: 26px;
  }
  .border-top {
    border-bottom: 1px solid #ececec;
    border-bottom-width: 100%;
  }
  .navigation__list {
    display: flex;
    padding-top: 32px;
    padding-bottom: 32px;
    margin-left: 88px;
  }
  .navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  /* навигация по сайту */
  .navigation__link--menu {
    display: none;
  }
  .navigation__list .navigation__items:not(:last-child) {
    margin-right: 50px;
  }
  .navigation__link {
    position: relative;
    color: var(--main-color);
    text-decoration: none;
    font-weight: var(--link-weight);
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    padding-bottom: 32px;
    padding-top: 32px;
    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }
  .navigation .navigation__link:hover,
  .navigation .navigation__link:focus {
    color: var(--accent-color);
  }
  /* контактная информация хедер*/
  .contact .contact__link:hover,
  .contact .contact__link:focus {
    color: var(--accent-color);
  }
  .top .contact:last-child {
    margin-left: auto;
  }
  .contact__items:not(:last-child) {
    margin-bottom: 10px;
  }
  .contact__link {
    display: flex;
    align-items: center;
    color: var(--gray-text);
    text-decoration: none;
    font-weight: var(--link-weight);
    font-size: 12px;
    line-height: 1.16;
    letter-spacing: 0.02em;
    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }
  .icon-head-mail {
    width: 14px;
    height: 10px;
    margin-right: 8px;
    fill: currentColor;
  }
  .icon-head-tel {
    width: 10px;
    height: 14px;
    margin-right: 8px;
    fill: currentColor;
  }
}

@media screen and (min-width: 1200px) {
  .top {
    max-height: 80px;
    padding-top: 24px;
    padding-bottom: 25px;
  }
  .top .contact:last-child {
    margin-left: auto;
    padding-top: 32px;
    padding-bottom: 32px;
  }
  .border-top {
    border-bottom: 1px solid #ececec;
    border-bottom-width: 100%;
  }
  .navigation {
    display: flex;
  }
  .navigation__list {
    display: flex;
    margin-left: 93px;
  }
  /* навигация по сайту */
  .navigation__link--menu {
    display: none;
  }
  .navigation__items {
    position: relative;
    padding-top: 32px;
    padding-bottom: 32px;
  }
  .navigation__list .navigation__items:not(:last-child) {
    margin-right: 50px;
  }
  .navigation__link {
    color: var(--main-color);
    text-decoration: none;
    font-weight: var(--link-weight);
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    padding-bottom: 32px;
    padding-top: 32px;
    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }
  .navigation .navigation__link:hover,
  .navigation .navigation__link:focus {
    color: var(--accent-color);
  }
  /* контактная информация хедер*/
  .contact {
    display: flex;
    align-items: center;
    padding-top: 32px;
    padding-bottom: 32px;
  }
  .contact .contact__items:not(:last-child) {
    margin-right: 45px;
    margin-bottom: 0px;
  }
  .contact .contact__link:hover,
  .contact .contact__link:focus {
    color: var(--accent-color);
  }
  .contact__link {
    display: flex;
    align-items: center;
    color: var(--gray-text);
    text-decoration: none;
    font-weight: var(--link-weight);
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    padding-top: 32px;
    padding-bottom: 32px;
    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }
  .icon-head-mail {
    width: 16px;
    height: 12px;
    margin-right: 10px;
    fill: currentColor;
  }
  .icon-head-tel {
    width: 10px;
    height: 16px;
    margin-right: 10px;
    fill: currentColor;
  }
}

.hero {
  background-color: var(--hero-bgc);
  width: 100%;
  text-align: center;
}

.hero__bg-img {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  margin: 0 auto;
}

.hero__title {
  color: var(--white-text);
  font-weight: 900;
  text-transform: uppercase;
  margin-bottom: 30px;
}

.hero__button {
  display: inline-block;
  min-width: 200px;
  padding: 10px 32px;
  border-radius: 4px;
  border: 1px solid transparent;
  background-color: var(--button-bgc);
  color: var(--white-text);
  font-weight: var(--bold-weight);
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  text-align: center;
}

@media screen and (max-width: 767px) {
  .hero {
    padding-top: 118px;
    padding-bottom: 118px;
    height: 400px;
  }
  .hero__bg-img {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/mobile-img/hero-mob-fone@1x.jpg");
  }
}

@media screen and (max-width: 767px) and (min-device-pixel-ratio: 2), screen and (max-width: 767px) and (min-resolution: 192dpi), screen and (max-width: 767px) and (min-resolution: 2dppx) {
  .hero__bg-img {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/mobile-img/hero-mob-fone@2x.jpg");
  }
}

@media screen and (max-width: 767px) {
  .hero__title {
    font-size: 26px;
    line-height: 1.61;
    letter-spacing: 0.06em;
  }
}

@media screen and (min-width: 768px) {
  .hero {
    padding-top: 118px;
    padding-bottom: 118px;
    height: 400px;
  }
  .hero__bg-img {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/tablet-img/hero-tablet-fone@1x.jpg");
  }
}

@media screen and (min-width: 768px) and (min-device-pixel-ratio: 2), screen and (min-width: 768px) and (min-resolution: 192dpi), screen and (min-width: 768px) and (min-resolution: 2dppx) {
  .hero__bg-img {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/tablet-img/hero-tablet-fone@2x.jpg");
  }
}

@media screen and (min-width: 768px) {
  .hero__title {
    font-size: 26px;
    line-height: 1.62;
    letter-spacing: 0.06em;
  }
}

@media screen and (min-width: 1200px) {
  .hero {
    padding-top: 200px;
    padding-bottom: 200px;
    height: 600px;
  }
  .hero__bg-img {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/hero-desktop-fone@1x.jpg");
  }
}

@media screen and (min-width: 1200px) and (min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (min-resolution: 192dpi), screen and (min-width: 1200px) and (min-resolution: 2dppx) {
  .hero__bg-img {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/hero-desktop-fone@2x.jpg");
  }
}

@media screen and (min-width: 1200px) {
  .hero__title {
    font-size: 44px;
    line-height: 1.36;
    letter-spacing: 0.06em;
  }
}

.specifications-allimg {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 450px;
  height: 120px;
  background-color: var(--ourcomand-bgc);
  border-radius: 4px;
  margin-bottom: 30px;
}

.comandspecifications {
  padding-top: 60px;
  padding-bottom: 60px;
}

.comandspecifications__li:not(:last-child) {
  margin-bottom: 30px;
}

.comandspecifications__title {
  margin-bottom: 10px;
  text-align: center;
  font-weight: var(--bold-weight);
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
}

.comandspecifications__text {
  color: var(--gray-text);
  font-weight: var(--normal-weight);
  font-size: 14px;
  line-height: 1.71;
}

@media screen and (min-width: 768px) {
  .specifications-allimg {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 354px;
    height: 120px;
    background-color: var(--ourcomand-bgc);
    border-radius: 4px;
    margin-bottom: 30px;
  }
  .comandspecifications {
    padding-top: 60px;
    padding-bottom: 60px;
  }
  .comandspecifications__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .comandspecifications__li {
    width: 354px;
    height: 251px;
  }
  .comandspecifications__li:not(:last-child) {
    margin-bottom: 30px;
  }
  .comandspecifications__title {
    margin-bottom: 10px;
    text-align: start;
    font-weight: var(--bold-weight);
    font-size: 14px;
    line-height: 1.14;
    text-transform: uppercase;
  }
  .comandspecifications__text {
    color: var(--gray-text);
    font-weight: var(--normal-weight);
    font-size: 14px;
    line-height: 1.71;
  }
}

@media screen and (min-width: 1200px) {
  .specifications-allimg {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 270px;
    height: 120px;
    background-color: var(--ourcomand-bgc);
    border-radius: 4px;
    margin-bottom: 30px;
  }
  .comandspecifications {
    padding-top: 94px;
    padding-bottom: 94px;
  }
  .comandspecifications__list {
    display: flex;
    flex-wrap: wrap;
  }
  .comandspecifications__li {
    display: block;
    max-width: 270px;
    height: 251px;
    margin-right: 30px;
  }
  .comandspecifications__list .comandspecifications__li:nth-child(4n) {
    margin-right: 0px;
  }
  .comandspecifications__title {
    margin-bottom: 10px;
    font-weight: var(--bold-weight);
    font-size: 14px;
    line-height: 1.14;
    text-transform: uppercase;
  }
  .comandspecifications__text {
    color: var(--gray-text);
    font-weight: var(--normal-weight);
    font-size: 14px;
    line-height: 1.71;
  }
}

/* ==================================workspace=================================== */
@media screen and (max-width: 1200px) {
  .workspace {
    display: none;
  }
}

.workspace {
  padding-bottom: 94px;
}

.workspace__title {
  margin-bottom: 50px;
  font-weight: var(--bold-weight);
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
}

.workspace__posters-list {
  display: flex;
  flex-wrap: wrap;
}

.workspace__posters-items {
  margin-right: 30px;
}

.workspace__posters-list .workspace__posters-items:nth-child(3n) {
  margin-right: 0px;
}

.workspace__posters-card {
  position: relative;
}

.workspace__text {
  position: absolute;
  width: 370px;
  height: 70px;
  left: 0;
  bottom: 0;
  padding-top: 27px;
  padding-bottom: 27px;
  padding-left: 15px;
  padding-right: 15px;
  font-weight: var(--bold-weight);
  line-height: 1.14;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
  background: rgba(47, 48, 58, 0.8);
}

/* ==================наша команда=======================*/
.ourcomand {
  background-color: var(--ourcomand-bgc);
  padding-top: 60px;
  padding-bottom: 60px;
  width: 480px;
  margin-left: auto;
  margin-right: auto;
}

.ourcomand__title {
  font-weight: var(--bold-weight);
  text-align: center;
  font-size: 28px;
  line-height: 1.17px;
  margin-bottom: 30px;
}

.ourcomand__list {
  display: flex;
  flex-wrap: wrap;
}

.ourcomand__items {
  max-width: 450px;
  max-height: 622px;
  outline: 1px solid transparent;
  border-radius: 4px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  background-color: var(--main-bg-color);
}

.ourcomand__list .ourcomand__items:not(:last-child) {
  margin-bottom: 30px;
}

.ourcomand__img {
  width: 450px;
  height: 460px;
}

.ourcomand__alltext {
  text-align: center;
  padding-bottom: 24px;
  padding-top: 30px;
  padding-right: 122px;
  padding-left: 122px;
}

.ourcomand__name {
  font-weight: var(--link-weight);
  font-size: 16px;
  line-height: 1.18;
  margin-bottom: 10px;
}

.ourcomand__specialization {
  color: var(--gray-text);
  font-weight: var(--normal-weight);
  font-size: 16px;
  line-height: 1.18;
  margin-bottom: 16px;
}

@media screen and (min-width: 768px) {
  .ourcomand {
    width: 768px;
  }
  .ourcomand__title {
    font-weight: var(--bold-weight);
    text-align: center;
  }
  .ourcomand__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .ourcomand__items {
    max-width: 354px;
    max-height: 536px;
    border: 1px solid transparent;
    border-radius: 4px;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    background-color: var(--main-bg-color);
  }
  .ourcomand__img {
    display: block;
    width: 354px;
    height: 374px;
  }
  .ourcomand__alltext {
    text-align: center;
    padding-bottom: 24px;
    padding-top: 30px;
    padding-right: 74px;
    padding-left: 74px;
  }
  .ourcomand__name {
    font-weight: var(--link-weight);
    font-size: 16px;
    line-height: 1.18;
    margin-bottom: 10px;
  }
  .ourcomand__specialization {
    color: var(--gray-text);
    font-weight: var(--normal-weight);
    font-size: 16px;
    line-height: 1.18;
    margin-bottom: 16px;
  }
}

@media screen and (min-width: 1200px) {
  .ourcomand {
    background-color: var(--ourcomand-bgc);
    padding-top: 94px;
    padding-bottom: 94px;
    min-width: 1200px;
  }
  .ourcomand__title {
    margin-bottom: 50px;
    font-weight: var(--bold-weight);
    font-size: 36px;
    line-height: 1.16;
    text-align: center;
  }
  .ourcomand__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .ourcomand__items {
    width: 270px;
    border: 1px solid transparent;
    border-radius: 4px;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    background-color: var(--main-bg-color);
  }
  .ourcomand__list .ourcomand__items:not(:last-child) {
    margin-bottom: 0px;
  }
  .ourcomand__img {
    display: inline-block;
    width: 270px;
    height: 260px;
  }
  .ourcomand__alltext {
    text-align: center;
    padding-bottom: 30px;
    padding-top: 30px;
    padding-right: 32px;
    padding-left: 32px;
  }
  .ourcomand__name {
    font-weight: var(--link-weight);
    font-size: 16px;
    line-height: 1.18;
    margin-bottom: 10px;
  }
  .ourcomand__specialization {
    color: var(--gray-text);
    font-weight: var(--normal-weight);
    font-size: 16px;
    line-height: 1.18;
    margin-bottom: 16px;
  }
}

/*======================================= Наши клиенты======================== */
.client {
  padding-top: 60px;
  padding-bottom: 60px;
}

.client__title {
  font-style: normal;
  font-weight: var(--bold-weight);
  font-size: 28px;
  line-height: 1.17;
  text-align: center;
  margin-bottom: 30px;
}

.client__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.client__link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 210px;
  height: 90px;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  transition-property: border;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.client__link:focus, .client__link:hover {
  border: 1px solid var(--accent-color);
}

/*===================clients list===============*/
.yaico {
  width: 44px;
  height: 50px;
}

.company-second-left {
  width: 40px;
  height: 52px;
}

.company-circle {
  width: 41px;
  height: 43px;
}

.company-foster-peters {
  width: 80px;
  height: 42px;
}

.company-brand {
  width: 59px;
  height: 47px;
}

.company-tagline {
  width: 89px;
  height: 46px;
}

.all-company-icon {
  fill: var(--main-color-socicon);
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.client__link:focus .all-company-icon,
.client__link:hover .all-company-icon {
  fill: var(--accent-color);
}

@media screen and (max-width: 449px) {
  .client__list-items:not(:last-child) {
    margin-bottom: 30px;
  }
}

@media screen and (max-width: 767px) {
  .client__list-items:not(:nth-last-child(-n + 2)) {
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 768px) {
  .client__list-items:not(:nth-last-child(-n + 3)) {
    margin-bottom: 30px;
  }
  .client__link {
    width: 226px;
    height: 90px;
    border: 1px solid #afb1b8;
    border-radius: 4px;
  }
}

@media screen and (min-width: 1200px) {
  .client {
    padding-top: 94px;
    padding-bottom: 94px;
  }
  .client__title {
    font-style: normal;
    font-weight: var(--bold-weight);
    font-size: 36px;
    line-height: 1.16;
    text-align: center;
    margin-bottom: 50px;
  }
  .client__list {
    display: flex;
  }
  .client__list-items:not(:nth-last-child(-n + 3)) {
    margin-bottom: 0px;
  }
  .client__link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 170px;
    height: 90px;
    border: 1px solid #afb1b8;
    border-radius: 4px;
    transition-property: border;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }
  .client__link:focus, .client__link:hover {
    border: 1px solid var(--accent-color);
  }
}

/* ========================================footer =========================================*/
.footer {
  background-color: var(--footer-bgc);
  min-width: 480px;
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  padding-top: 60px;
  padding-bottom: 60px;
}

.footer--double-box {
  display: flex;
}

.footer__address {
  color: var(--white-text);
  font-style: normal;
  font-weight: var(--normal-weight);
  font-size: 14px;
  margin-bottom: 8px;
}

.footer__contact {
  display: inline-block;
  color: var(--footer-contact-bgc);
  text-decoration: none;
  font-style: normal;
  font-weight: var(--normal-weight);
  font-size: 14px;
}

.footer__contact--mail {
  margin-bottom: 8px;
}

.footer__form-text {
  display: block;
  margin-bottom: 20px;
  font-style: normal;
  line-height: 1.14;
  text-transform: uppercase;
  color: var(--white-text);
}

.conection__text {
  font-style: normal;
  font-weight: var(--bold-weight);
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  color: var(--white-text);
  margin-bottom: 20px;
}

.fone {
  background-color: var(--footer-fone-socicone);
  border-radius: 50%;
  width: 44px;
  height: 44px;
}

.fone:not(:last-child) {
  margin-right: 10px;
}

@media screen and (max-width: 767px) {
  .footer {
    height: 603px;
  }
  .footer--double-box {
    flex-direction: column;
    text-align: center;
    align-items: center;
  }
  .footer__address {
    margin-bottom: 8px;
  }
  .footer__contact {
    display: inline-block;
    color: var(--footer-contact-bgc);
    text-decoration: none;
    font-style: normal;
    font-weight: var(--normal-weight);
    font-size: 14px;
  }
  .footer__contact--mail {
    margin-bottom: 9px;
  }
  .conection__box {
    width: 206px;
    height: 80px;
    margin-top: 60px;
    margin-bottom: 60px;
  }
  .footer__feedback {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .footer__feedback-input {
    font-family: Roboto, sans-serif;
    font-style: normal;
    font-weight: var(--normal-weight);
    font-size: 16px;
    line-height: 1.25;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
    background-color: transparent;
    padding-left: 16px;
    padding-top: 15px;
    padding-bottom: 15px;
    width: 450px;
    height: 50px;
    margin-bottom: 20px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    box-sizing: border-box;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;
    transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .footer__feedback-input:focus, .footer__feedback-input:hover {
    border: 1px solid var(--accent-color);
    outline: transparent;
  }
  .footer__feedback-btn {
    display: flex;
    justify-content: space-between;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 29px;
    padding-right: 28px;
    width: 200px;
    height: 50px;
    font-family: Roboto, sans-serif;
    font-style: normal;
    font-weight: var(--bold-weight);
    font-size: 16px;
    line-height: 1.87;
    letter-spacing: 0.06em;
    color: var(--white-text);
    background-color: var(--button-bgc);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    cursor: pointer;
  }
  .footer__feedback-icon {
    align-self: center;
    width: 24px;
    height: 24px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .footer {
    height: 463px;
  }
  .footer--double-box {
    flex-wrap: wrap;
  }
  .footer .footer__contact-info {
    width: 294px;
    text-align: center;
    margin-right: 165px;
    margin-bottom: 60px;
  }
  .conection__box {
    width: 206px;
    height: 80px;
    text-align: center;
  }
  .footer__form {
    text-align: center;
    padding-left: 166px;
    padding-right: 152px;
  }
  .footer__feedback {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .footer__feedback-input {
    font-family: Roboto, sans-serif;
    font-style: normal;
    font-weight: var(--normal-weight);
    font-size: 16px;
    line-height: 1.25;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
    background-color: transparent;
    padding-left: 16px;
    padding-top: 15px;
    padding-bottom: 15px;
    width: 450px;
    height: 50px;
    margin-bottom: 20px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    box-sizing: border-box;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;
    transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .footer__feedback-input:focus, .footer__feedback-input:hover {
    border: 1px solid var(--accent-color);
    outline: transparent;
  }
  .footer__feedback-btn {
    display: flex;
    justify-content: space-between;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 29px;
    padding-right: 28px;
    width: 200px;
    height: 50px;
    font-family: Roboto, sans-serif;
    font-style: normal;
    font-weight: var(--bold-weight);
    font-size: 16px;
    line-height: 1.87;
    letter-spacing: 0.06em;
    color: var(--white-text);
    background-color: var(--button-bgc);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    cursor: pointer;
  }
  .footer__feedback-icon {
    align-self: center;
    width: 24px;
    height: 24px;
  }
}

@media screen and (min-width: 1200px) {
  .footer {
    background-color: var(--footer-bgc);
    height: 252px;
  }
  .footer--double-box {
    display: flex;
    align-items: baseline;
  }
  .footer__address {
    margin-bottom: 9px;
  }
  .footer__contact {
    display: inline-block;
    color: var(--footer-contact-bgc);
    text-decoration: none;
    font-style: normal;
    font-weight: var(--normal-weight);
    font-size: 14px;
  }
  .footer__contact--mail {
    margin-bottom: 9px;
  }
  .conection__box {
    display: flex;
    flex-direction: column;
    margin-left: 70px;
  }
  .conection__text {
    font-style: normal;
    font-weight: var(--bold-weight);
    font-size: 14px;
    line-height: 1.14;
    text-transform: uppercase;
    color: var(--white-text);
    margin-bottom: 20px;
  }
  .fone {
    background-color: var(--footer-fone-socicone);
    border-radius: 50%;
    width: 44px;
    height: 44px;
  }
  .fone:not(:last-child) {
    margin-right: 10px;
  }
  /* ==================footer-form================================= */
  .footer__form {
    display: flex;
    flex-direction: column;
    margin-left: 93px;
    width: 570px;
    height: 86px;
  }
  .footer__form-text {
    display: block;
    margin-bottom: 20px;
    font-style: normal;
    line-height: 1.14;
    text-transform: uppercase;
    color: var(--white-text);
  }
  .footer__feedback {
    display: flex;
    justify-content: space-between;
  }
  .footer__feedback-input {
    font-family: Roboto, sans-serif;
    font-style: normal;
    font-weight: var(--normal-weight);
    font-size: 16px;
    line-height: 1.25;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
    background-color: transparent;
    padding-left: 16px;
    padding-top: 15px;
    padding-bottom: 15px;
    width: 358px;
    height: 50px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    box-sizing: border-box;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;
    transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .footer__feedback-input:focus, .footer__feedback-input:hover {
    border: 1px solid var(--accent-color);
    outline: transparent;
  }
  .footer__feedback-btn {
    display: flex;
    justify-content: space-between;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 29px;
    padding-right: 28px;
    width: 200px;
    height: 50px;
    font-family: Roboto, sans-serif;
    font-style: normal;
    font-weight: var(--bold-weight);
    font-size: 16px;
    line-height: 1.87;
    letter-spacing: 0.06em;
    color: var(--white-text);
    background-color: var(--button-bgc);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    cursor: pointer;
  }
  .footer__feedback-icon {
    align-self: center;
    width: 24px;
    height: 24px;
  }
}

/* ==================footer-form================================= */
/*.footer__form {
    display: flex;
    flex-direction: column;
    margin-left: 93px;
    width: 570px;
    height: 86px;
  }
  .footer__form-text {
    display: block;
    margin-bottom: 20px;

    font-style: normal;
    line-height: 1.14;
    text-transform: uppercase;
    color: var(--white-text);
  }

  .footer__feedback {
    display: flex;
    justify-content: space-between;
  }
  .footer__feedback-input {
    font-family: Roboto, sans-serif;
    font-style: normal;
    font-weight: var(--normal-weight);
    font-size: 16px;
    line-height: 1.25;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
    background-color: transparent;

    padding-left: 16px;
    padding-top: 15px;
    padding-bottom: 15px;

    width: 358px;
    height: 50px;

    border: 1px solid rgba(255, 255, 255, 0.3);
    box-sizing: border-box;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;
    transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:focus,
    &:hover {
      border: 1px solid var(--accent-color);
      outline: transparent;
    }
  }

  .footer__feedback-btn {
    display: flex;
    justify-content: space-between;

    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 29px;
    padding-right: 28px;

    width: 200px;
    height: 50px;

    font-family: Roboto, sans-serif;
    font-style: normal;
    font-weight: var(--bold-weight);
    font-size: 16px;
    line-height: 1.87;
    letter-spacing: 0.06em;
    color: var(--white-text);
    background-color: var(--button-bgc);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;

    cursor: pointer;
  }
  .footer__feedback-icon {
    align-self: center;
    width: 24px;
    height: 24px;
  }
}
*/
/* ======================Модальное окно====================== */
.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.modal {
  position: absolute;
  display: block;
  width: 450px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: var(--main-bg-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}

.modal__closes-btn {
  position: absolute;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  cursor: pointer;
  padding-right: 6px;
  padding-top: 6px;
  padding-left: 6px;
  padding-bottom: 6px;
  fill: #000000;
  background-color: var(--main-bg-color);
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal__closes-btn:hover, .modal__closes-btn:focus {
  fill: var(--accent-color);
}

.form-field {
  display: flex;
  flex-direction: column;
  padding: 40px;
}

.form-field__text {
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: var(--bold-weight);
  font-size: 20px;
  line-height: 1.5;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--main-color);
  margin-bottom: 12px;
}

.user-field {
  position: relative;
}

.form-field__name {
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: var(--normal-weight);
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: var(--gray-text);
}

.form-field__input {
  width: 370px;
  height: 40px;
  padding-left: 42px;
  margin-bottom: 10px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  box-sizing: border-box;
  border-radius: 4px;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-field__input:focus, .form-field__input:hover {
  outline: transparent;
  border: 1px solid var(--accent-color);
  cursor: pointer;
}

.form-field__icon {
  position: absolute;
  top: 0;
  left: 12px;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-field__input:focus + .form-field__icon,
.form-field__input:hover + .form-field__icon {
  fill: var(--accent-color);
}

.form-field__comments-input {
  resize: none;
  width: 370px;
  height: 120px;
  padding: 12px 16px;
  margin-bottom: 20px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  box-sizing: border-box;
  border-radius: 4px;
  outline: transparent;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-field__comments-input:hover, .form-field__comments-input:focus {
  outline: transparent;
  border: 1px solid var(--accent-color);
  cursor: pointer;
}

.form-field__comments-input::placeholder {
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: var(--normal-weight);
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.forms-btn-submit {
  width: 200px;
  height: 50px;
  background-color: var(--accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: var(--bold-weight);
  font-size: 16px;
  line-height: 1.87;
  text-align: center;
  letter-spacing: 0.06em;
  color: var(--white-text);
  cursor: pointer;
  margin-top: 30px;
  padding: 10px 55px;
  align-self: center;
}

.forms-btn-submit:hover, .forms-btn-submit:focus {
  background-color: #188ce8;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  outline: transparent;
}

.checkbox-label {
  display: flex;
  align-items: center;
  font-style: normal;
  font-weight: var(--normal-weight);
  font-size: 12px;
  line-height: 1.16;
  color: var(--gray-text);
}

.checkbox-label::before {
  display: inline-block;
  margin-right: 8px;
  content: "";
  width: 16px;
  height: 15px;
  border: 1px solid var(--main-color);
  border-radius: 4px;
  background: transparent;
}

.checkbox-input:checked + .checkbox-label::before {
  background: var(--accent-color) url(../images/svg/checked-vector.svg);
  background-repeat: no-repeat;
  background-size: cover;
  border: 0px solid transparent;
}

.checkbox-input:focus + .checkbox-label::before {
  border: 1px solid var(--accent-color);
}

.forms-agreement-link {
  margin-left: 3px;
  color: var(--accent-color);
}

.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
  transform: scale(0);
}

@media screen and (min-width: 1200px) {
  .modal {
    width: 528px;
  }
  .modal__closes-btn {
    padding-right: 10px;
    padding-top: 9px;
    padding-left: 9px;
    padding-bottom: 10px;
  }
  .form-field__text {
    line-height: 1.15;
  }
  .form-field__input {
    width: 448px;
  }
  .form-field__comments-input {
    width: 448px;
    height: 120px;
    padding: 12px 16px;
    margin-bottom: 20px;
  }
  .form-field__comments-input::placeholder {
    line-height: 1.33;
  }
  .checkbox-label {
    font-size: 14px;
    line-height: 1.71;
  }
  .checkbox-label::before {
    margin-right: 7px;
  }
  .forms-agreement-link {
    margin-left: 4px;
    color: var(--accent-color);
  }
}
/*# sourceMappingURL=main.css.map */