.hero {
  background-color: var(--hero-bgc);
  text-align: center;
  padding-top: 200px;
  padding-bottom: 200px;
}
.hero__bg-img {
  background-image: linear-gradient(
      to right,
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url("../images/hero-fone.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  max-width: 1600px;
  max-height: 600px;
  background-position: center;
  margin: 0 auto;
}
.hero__title {
  color: var(--white-text);

  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;

  margin-bottom: 30px;
}
.hero__button {
  display: inline-block;
  min-width: 200px;
  padding: 10px 32px;

  border-radius: 4px;
  border: 1px solid transparent;

  background-color: var(--button-bgc);
  color: var(--white-text);

  font-weight: var(--bold-weight);
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  text-align: center;
}
