/* ======================Модальное окно====================== */
.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  background-color: rgba(0, 0, 0, 0.2);
  /* box-shadow:(0px 4px 4px rgba(0, 0, 0, 0.25)); */

  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.modal {
  position: absolute;
  display: block;
  width: 528px;
  height: 581px;
  top: 50%;
  left: 50%;

  transform: translate(-50%, -50%);

  background-color: var(--main-bg-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}

.modal__closes-btn {
  position: absolute;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  cursor: pointer;

  padding-right: 10px;
  padding-top: 9px;
  padding-left: 9px;
  padding-bottom: 10px;

  fill: #000000;
  background-color: var(--main-bg-color);
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;

  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    fill: var(--accent-color);
  }
}

.form-field {
  display: flex;
  flex-direction: column;
  padding: 40px;
}
.form-field__text {
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: var(--bold-weight);
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--main-color);
  margin-bottom: 12px;
}

.user-field {
  position: relative;
}
.form-field__name {
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: var(--normal-weight);
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: var(--gray-text);
}
.form-field__name {
  width: 448px;
  height: 40px;
  padding-left: 42px;
  margin-bottom: 10px;

  border: 1px solid rgba(33, 33, 33, 0.2);
  box-sizing: border-box;
  border-radius: 4px;

  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:focus,
  &:hover {
    outline: transparent;
    border: 1px solid var(--accent-color);
    cursor: pointer;
  }
}

.form-field__icon {
  position: absolute;
  top: 0;
  left: 12px;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);

  .form-field__name:focus + &,
  .form-field__name:hover + & {
    fill: var(--accent-color);
  }
}

.commentstext-input {
  resize: none;
  width: 448px;
  height: 120px;
  padding: 12px 16px;
  margin-bottom: 20px;

  border: 1px solid rgba(33, 33, 33, 0.2);
  box-sizing: border-box;
  border-radius: 4px;
  outline: transparent;

  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    outline: transparent;
    border: 1px solid var(--accent-color);
    cursor: pointer;
  }
  &::placeholder {
    font-family: Roboto, sans-serif;
    font-style: normal;
    font-weight: var(--normal-weight);
    font-size: 14px;
    line-height: 1.33;
    letter-spacing: 0.01em;
    color: rgba(117, 117, 117, 0.5);
  }
}

.forms-btn-submit {
  width: 200px;
  height: 50px;
  background-color: var(--accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;

  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: var(--bold-weight);
  font-size: 16px;
  line-height: 1.87;
  text-align: center;
  letter-spacing: 0.06em;
  color: var(--white-text);
  cursor: pointer;

  margin-top: 30px;
  padding: 10px 55px;
  align-self: center;

  &:hover,
  &:focus {
    background-color: #188ce8;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    outline: transparent;
  }
}

.checkbox-label {
  display: flex;
  align-items: center;
  font-style: normal;
  font-weight: var(--normal-weight);
  font-size: 14px;
  line-height: 1.71;

  color: var(--gray-text);

  &::before {
    display: inline-block;
    margin-right: 7px;
    content: "";
    width: 16px;
    height: 15px;
    border: 1px solid var(--main-color);
    border-radius: 4px;
    background: transparent;

    .checkbox-input:checked + & {
      background: var(--accent-color) url(../images/svg/checked-vector.svg);
      background-repeat: no-repeat;
      background-size: cover;
      border: 0px solid transparent;
    }
    .checkbox-input:focus + & {
      border: 1px solid var(--accent-color);
    }
  }
}
.forms-agreement-link {
  margin-left: 4px;
  color: var(--accent-color);
}

.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
  transform: scale(0);
}
