/* ==================================workspace=================================== */
@media screen and (max-width: 1200px) {
  .workspace {
    display: none;
  }
}
.workspace {
  padding-bottom: 94px;

  &__title {
    margin-bottom: 50px;

    font-weight: var(--bold-weight);
    font-size: 36px;
    line-height: 1.16;
    text-align: center;
  }
  &__posters-list {
    display: flex;
    flex-wrap: wrap;
  }
  &__posters-items {
    margin-right: 30px;
    .workspace__posters-list &:nth-child(3n) {
      margin-right: 0px;
    }
  }
  &__posters-card {
    position: relative;
  }
  &__text {
    position: absolute;
    width: 370px;
    height: 70px;
    left: 0;
    bottom: 0;
    padding-top: 27px;
    padding-bottom: 27px;
    padding-left: 15px;
    padding-right: 15px;

    font-weight: var(--bold-weight);
    line-height: 1.14;
    text-align: center;
    text-transform: uppercase;
    color: #ffffff;
    background: rgba(47, 48, 58, 0.8);
  }
}
