.social-icons__list {
  display: flex;
  justify-content: space-between;
}
.social-icons__link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;

  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

  &:focus,
  &:hover {
    background-color: var(--accent-color);
  }
}

.social-icons__svg {
  width: 20px;
  height: 20px;
  fill: var(--main-color-socicon);

  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

  .social-icons__link:hover &,
  .social-icons__link:focus & {
    fill: var(--main-bg-color);
  }
}
.footer__icons {
  fill: var(--white-text);
}
