:root {
  --main-bg-color: #ffffff;
  --main-color: #212121;
  --accent-color: #2196f3;
  --white-text: #ffffff;
  --gray-text: #757575;
  --black-color-logo: #000000;
  --button-bgc: #2196f3;
  --filters-bgc: #f5f4fa;
  --ourcomand-bgc: #f5f4fa;
  --hero-bgc: #2f303a;
  --footer-contact-bgc: rgba(255, 255, 255, 0.6);
  --footer-bgc: #2f303a;
  --footer-fone-socicone: rgba(255, 255, 255, 0.1);
  --main-color-socicon: #afb1b8;

  /* текстовые характеристики */
  --bold-weight: 700;
  --normal-weight: 400;
  --link-weight: 500;
}
